<!--The content below is only a placeholder and can be replaced.-->
<!-- <div class="divColor1" *ngFor="let product of products; let i =index">
    <h1>{{product.product_name}}</h1>
    <input type="button" value="{{product.product_button}}" (click)="myClick(i)">
<div class="divColor2">
    <img src="{{product.product_image}}"*ngIf="i==selectedImage">
</div>
</div> -->
<app-nav></app-nav>

<router-outlet></router-outlet>





















































































































































